body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 12px;
  width: 100%;
  height: 100%;
  position: relative;
}
html {
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
.mr5 {
  margin-right: .05rem;
}
.mt5 {
  margin-top: .05rem;
}
.ml5 {
  margin-left: .05rem;
}
.mb5 {
  margin-bottom: .05rem;
}
.pr5 {
  padding-right: .05rem;
}
.pt5 {
  padding-top: .05rem;
}
.pl5 {
  padding-left: .05rem;
}
.pb5 {
  padding-bottom: .05rem;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.fs12 {
  font-size: 12px;
}
.fs14 {
  font-size: 14px;
}
.fs16 {
  font-size: 16px;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w30 {
  width: 30%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w60 {
  width: 60%;
}
.w70 {
  width: 70%;
}
.w80 {
  width: 80%;
}
.w90 {
  width: 90%;
}
.c-red {
  color: red;
}
.c-blue {
  color: blue;
}
.c-green {
  color: green;
}
.c-pink {
  color: pink;
}
.c-main {
  color: #FF6600;
}
.c-back {
  color: #0000CC;
}
.c0 {
  color: #000;
}
.c3 {
  color: #333;
}
.c6 {
  color: #666;
}
.c9 {
  color: #999;
}
.cf {
  color: #fff;
}
.fwb {
  font-weight: bold;
}
.tc {
  text-align: center;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
img {
  max-width: 100%;
  border: 0;
  margin: 0;
  vertical-align: middle;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

@media screen and (min-width:320px) and (max-width:359.9px){ html{font-size:85px;} }
@media screen and (min-width:360px) and (max-width:374.9px){ html{font-size:96px;} }
@media screen and (min-width:375px) and (max-width:413.9px){ html{font-size:100px;} }
@media screen and (min-width:414px) and (max-width:479.9px){ html{font-size:110px;} }
@media screen and (min-width:480px) and (max-width:567.9px){ html{font-size:128px;} }
@media screen and (min-width:568px) and (max-width:639.9px){ html{font-size:151px;} }
@media screen and (min-width:640px){ html{font-size:170px;} }
